<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyBWVd4651hNv8mOn-RaHZdC166O82S-BbY&sensor=false&libraries=places"></script>
</head>
<body>

<!-- Main App -->
<div id="App">


    <div class="Mail-post">
        <!-- Triangle -->
        <div class="triangle">
            <div class="left-lean"></div>
            <div class="circle"></div>
            <div class="right-lean"></div>
        </div>
        <div class="input-box">
            <div class="input-wrapper">
                <input v-model="Title" v-validate="Title" data-vv-rules="required|min:5">
                <p class="text-danger" v-if="errors.has('Title')">{{ errors.first('Title') }}
            </div>
        </div>
        <div class="post"></div>
    </div>


    <h1 class="test" v-text="Title">
        Hello
    </h1>
    <vue-google-autocomplete
            style="width: 200px"
            id="map"
            classname="form-control"
            placeholder="Start typing"
            v-on:placechanged="getAddressData"
    >
    </vue-google-autocomplete>
</div>

<!--<script src="https://unpkg.com/vue"></script>-->
<script src="dist/commons.js"></script>
<script src="dist/app.bundle.js"></script>
<script src="dist/events.bundle.js"></script>
</body>
</html>